<!DOCTYPE html>
<html lang='en' class='AS_APP'>
	<head>
		<meta charset='utf-8'/>
		<meta name='robots' content='noindex'/>
		<meta name='viewport' content='width=device-width'/>
		<title>Home • AuriServe</title>
		<meta name='description' content='AuriServe administration panel.'/>
		<link rel='icon' type='image/svg' href='/admin/asset/icon/favi.svg'/>
		<link rel='stylesheet' href='/admin/script/main.css'/>

		<script type='module'>
			import * as preact from '/admin/asset/preact.js';
			import * as hooks from '/admin/asset/hooks/hooks.js';
			window.preact = preact;
			window.preact_hooks = hooks;
		</script>
		<script src='/admin/script/main.js' defer></script>
		$PLUGINS$
		$THEMES$
		$DEBUG$
	</head>
	<body id='root'></body>
</html>
