.SatVal
	border-radius: 8px 8px 0 0
	background-image: linear-gradient(0deg, #000, transparent), linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0))

.Hue
	border-radius: 0 0 8px 8px
	background-image: linear-gradient(90deg, red 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red)

.Indicator
	@apply absolute z-10 w-6 h-6 rounded-full border-2 border-white -translate-x-1/2 -translate-y-1/2 shadow-sm
