#page {
	.base\:navigation {
		@apply block w-max;

		> .entries-wrap ul {
			@apply flex flex-wrap items-center justify-center;

			> li {
				@apply inline-block;

				.Navigation-ItemLabel {
					@apply block px-4 py-2 text-black font-header;
				}
			}
		}
	}
}

