/* .ColumnLayout
	width: 100%

	.ColumnLayout-Columns
		display: grid
		margin: 0 auto
		flex-direction: column
		grid-template-columns: 1fr

		& > *
			min-width: 0

	&.Reverse .ColumnLayout-Columns
		flex-direction: column-reverse */
