#page {
	.forms\:form-form {
		transition: opacity 0.2s, height 0.5s;

		&.submitting {
			opacity: 0.5;
		}

		&.submitted {
			opacity: 0;
		}

		input[name='#email#'] {
			position: absolute;
			left: -10000px;
		}
	}
}
